body {
    color: #f9f6f6 !important;
    background-color: #0D0D0D;
    /* overflow: hidden; */
}

.logo {
    width: 50px;
}

.links li,
i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

.inner-nav {
    background-color: #0D0D0D;
    /* left: -100px; */
}

.layer {
    width: 100%;
    height: 100%;
    top: 100%;
    transition: 0.5s;
    background-color: #f9f6f6ca;
    text-align: center;
}

.area-content, .meal-content,
.ingredients-content {
    cursor: pointer;
}

.meal-content:hover .layer {
    top: 0;
}

.side-bar {
    z-index: 9999;
}

.loading {
    background-color: #0D0D0D;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    /* display: none; */
}

.test {
    width: 100%;
    height: 400px;
    background-color: rgb(180, 41, 41);
    /* display: none; */
}